Source: ros-fuerte-object-recognition-ros
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-fuerte-ecto-ros,ros-fuerte-catkin,ros-fuerte-actionlib,ros-fuerte-object-recognition-msgs,ros-fuerte-pcl,libcurl4-openssl-dev,ros-fuerte-ecto,libboost-all-dev,ros-fuerte-ecto-image-pipeline
Homepage: http://ecto.willowgarage.com/recognition
Standards-Version: 3.9.2

Package: ros-fuerte-object-recognition-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-fuerte-ecto-ros,ros-fuerte-actionlib,ros-fuerte-object-recognition-msgs,ros-fuerte-pcl,libcurl4-openssl-dev,ros-fuerte-ecto,libboost-all-dev,ros-fuerte-ecto-image-pipeline
Description: object_recognition_core contains tools to launch several recognition pipelines, train objects, store models ...
