Source: ros-groovy-object-recognition-ros
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, libcurl4-openssl-dev, ros-groovy-actionlib, ros-groovy-catkin, ros-groovy-ecto, ros-groovy-ecto-image-pipeline, ros-groovy-ecto-ros, ros-groovy-object-recognition-core, ros-groovy-object-recognition-msgs, ros-groovy-pcl, ros-groovy-pluginlib, ros-groovy-rviz
Homepage: http://ecto.willowgarage.com/recognition
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev, libcurl4-openssl-dev, ros-groovy-actionlib, ros-groovy-ecto, ros-groovy-ecto-image-pipeline, ros-groovy-ecto-ros, ros-groovy-object-recognition-msgs, ros-groovy-pcl, ros-groovy-pluginlib, ros-groovy-rviz
Description: object_recognition_core contains tools to launch several recognition pipelines, train objects, store models ...
